
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>재료선택</title>
	<link rel="stylesheet" href="./static/css/ingredient.css">
    <style>
      body{
        background-image : url('main_img.jpg');
        background-size: cover;
      }
      #button_group button:hover{
        color: white;
        background-color:#231709;
      }
    </style>
</head>
<body>
  <div class="season">가을 Autumn</div>
  <hr class="upper_line">
  <hr class="line">
  <div class="circle1"></div>
  <div class="circle_text">01</div>
  <div class="circle2"></div>
  <div class="circle3"></div>
  <div id="button_group">
    <button type="button" class="button1"></button>
      <div class="text1">제철재료1</div>
    <button type="button" class="button2"></button>
      <div class="text2">제철재료2</div>
    <button type="button" class="button3"></button>
      <div class="text3">제철재료3</div>
    <button type="button" class="button4"></button>
      <div class="text4">제철재료4</div>
    <button type="button" class="button5"></button>
      <div class="text5">제철재료5</div>
    <button type="button" class="button6"></button>
      <div class="text6">제철재료6</div>
    <button type="button" class="button7"></button>
      <div class="text7">제철재료7</div>
    <button type="button" class="button8"></button>
      <div class="text8">제철재료8</div>
    <button type="button" class="button9"></button>
      <div class="text9">제철재료9</div>
    <button type="button" class="button10"></button>
      <div class="text10">제철재료10</div>
    <button type="button" class="button11"></button>
      <div class="text11">제철재료11</div>
    <button type="button" class="button12"></button>
      <div class="text12">제철재료12</div>
    <button type="button" class="button13"></button>
      <div class="text13">제철재료13</div>
    <button type="button" class="button14"></button>
      <div class="text14">제철재료14</div>
    <button type="button" class="button15"></button>
      <div class="text15">제철재료15</div>
    <button type="button" class="button16"></button>
      <div class="text16">제철재료16</div>
    <button type="button" class="button17"></button>
      <div class="text17">제철재료17</div>
    <button type="button" class="button18"></button>
      <div class="text18">제철재료18</div>
    <button type="button" class="button19"></button>
      <div class="text19">제철재료19</div>
    <button type="button" class="button20"></button>
      <div class="text20">제철재료20</div>
    <button type="button" class="button21"></button>
      <div class="text21">제철재료21</div>
    <button type="button" class="button22"></button>
      <div class="text22">제철재료22</div>
    <button type="button" class="button23"></button>
      <div class="text23">제철재료23</div>
    <button type="button" class="button24"></button>
      <div class="text24">제철재료24</div>
    <button type="button" class="button25"></button>
      <div class="text25">제철재료25</div>
  </div>
  <button type="button" class="how" onClick="location.href='main.html'"></button>
    <div class="howtext">선택완료</div>
</body>
</html>