<link rel="stylesheet" href="./static/css/season.css">
<div class="title">
        계절을 선택해보세요
      </div>
      </div class="subtitle">
      계절에 맞춰 제철음식재료를 찾아 요리해요
      </div>

      <div class="prices">
        <div class="price-item">
          <div class="price-item-title1">
            봄
          </div>
          <button class="price-item-button1">
            따스한 봄의 제철음식재료
            <image src="https://blog.kakaocdn.net/dn/dFnolk/btqCvze6ppI/EahbRs8UJq1KZ8Wml0OAZ1/img.jpg" width="200" height="120">
        </div>
          <div class="price-item">
          <div class="price-item-title2">
            여름
          </div>
          <button class="price-item-button2">
            뜨거운 여름의 제철음식재료
            <image src="https://cdn.pixabay.com/photo/2019/06/22/16/24/summer-in-the-woods-4291897_960_720.jpg" width="200" height="120">
        </div>
        <div class="price-item">
          <div class="price-item-title3">
           <a href="{{url_for('main.ingredient')}}">가을</a>
          </div>
          <button class="price-item-button3">
            시원한 가을의 제철음식재료
            <image src="https://mblogthumb-phinf.pstatic.net/MjAxNzA5MjdfODkg/MDAxNTA2NTIyOTMwOTA4.YSIpeIFX6GAna9UvWS_IarVWxfHYA4vHlC6Yn49YAQYg.f18IO5v8tMvIvbcv7bcdGRdoyW3QPK0gFbAAuhdCl4Mg.PNG.june6505/y1.png?type=w2" width="200" height="120">
        </div>
        <div class="price-item">
          <div class="price-item-title4">
            겨울
          </div>
          <button class="price-item-button4">
            추운 겨울의 제철음식재료
            <image src="https://img1.daumcdn.net/thumb/R720x0.q80/?scode=mtistory2&fname=http%3A%2F%2Fcfile1.uf.tistory.com%2Fimage%2F99BF8C395BF27CD211847D" width="200" height="120">

        </div>
      </div>
    </div>