.img{
        position: relative;
        background-image: url('app/static/image/subpage.jpg');
        height: 100vh;
        background-size: cover;
    }
    .img-cover{
       position: absolute;
       height: 100%;
       width: 100%;
       background-color: rgba(255, 255, 255, 0.4);
       z-index:1;
    }
    .img .content{
         position: absolute;
         top:50%;
         left:50%;
         transform: translate(-50%, -50%);
         font-size:5rem;
         letter-spacing:5px;
         color: dark;
         z-index: 2;
         text-align: center;
    }
    .button {
        font-size:70px; width: 100%;
        padding: 10px;
        border: solid green;
        border-width: 4px;
        background-color: white;
        color: green;
    }
    .button:hover {
        background-color:green;
        border-color: green;
        color: white;
    }